<footer id="footer">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
                    <li><a class=js-modal href="{{ path('contact_us') }}">Contactez-nous</a></li>
                    <li><a class=js-modal href="{{ path('mentions_legales') }}">Mentions légales</a></li>
            </ul>
        </div>
    </div>

    <div id="myModal"></div>
</footer>

