* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    animation: fadeIn .5s both;
}

.modal[aria-hidden="true"]{
    animation: fadeOut .5s both;
}

.modal-wrapper {
    overflow: auto;
    width: 600px;
    height: 600px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    background-color: #FFF;
    animation: slideFromTop .5s both;

}

.modal[aria-hidden="true"] .modal-wrapper {
    animation: slideToTop .5s both;
}

:focus {
    box-shadow: 0 0 10px orange;
}

@keyframes fadeIn {
    from { opacity: 0}
    to {   opacity: 1}
}

@keyframes fadeOut {
    from { opacity: 1}
    to {   opacity: 0}
}

@keyframes slideFromTop {
    from { transform: translateY(-50px); }
    to { transform: translateY(0px); }
}

@keyframes slideToTop {
    from { transform: translateY(0px); }
    to { transform: translateY(-50px); }
}