<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
    {{ form_start(form) }}
    <div>{{ form_row(form.maxPrice) }}</div>
    <div>{{ form_row(form.minvolume) }}</div>
    <div>
        <button class="btn btn-primary">Rechercher</button>
    </div>
    {{ form_end(form) }}
</div>
